.qa_assistant_git-branch .ab-sub-wrapper {
    width: auto;
    height: 300px!important;
    overflow-y: scroll;
}
.qa_assistant_git-branch-list-items:hover > div {
    color: rgb(0, 255, 254)!important;
    font-weight: bold!important;
    cursor: pointer!important;
    border: 1px solid rgb(0, 255, 254)!important;
}